[submodule "bundle/vimproc"]
	path = bundle/vimproc
	url = git://github.com/Shougo/vimproc.git
[submodule "bundle/neco-ghc"]
	path = bundle/neco-ghc
	url = git://github.com/ujihisa/neco-ghc.git
[submodule "bundle/ghcmod-vim"]
	path = bundle/ghcmod-vim
	url = git://github.com/eagletmt/ghcmod-vim.git
[submodule "bundle/scala"]
	path = bundle/scala
	url = git://github.com/derekwyatt/vim-scala.git
[submodule "bundle/YouCompleteMe"]
	path = bundle/YouCompleteMe
	url = git://github.com/Valloric/YouCompleteMe.git
[submodule "bundle/syntastic"]
	path = bundle/syntastic
	url = git://github.com/scrooloose/syntastic.git
